.onboarding {
	width: 100%;
	height: 100vh;
	min-height: fit-content;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 16px;
}

.onboarding a {
	width: 100%;
}

.screenContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 24px;
}