:root {
	--body-bg: #fff;
	--text-color: #000;
	--text-color-faint: rgba(0, 0, 0, 0.1);
	--primary-color: #007bff;
	--primary-color-faint: #0063cc;
	--primary-color-text: #fff;
	--secondary-color: var(--primary-color);
	--secondary-color-faint: rgba(0, 0, 0, 0.1);
	--secondary-color-text: var(--primary-color);
	--success-color: #28a745;
	--info-color: #17a2b8;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
	--light-color: #f8f9fa;
	--font-family: "Inter", sans-serif;
	--dark-color: #343a40;
	--status-bar-height: 0px;
	--height-without-status-bar: calc(100vh - var(--status-bar-height));

	/* --body-bg: #000;
	--text-color: #fff;
	--text-color-faint: rgba(255, 255, 255, 0.1); */
}

@font-face {
	font-family: "Inter";
	src: url(/fonts/InterVariable.woff2) format("woff2");
}

body {
	background-color: var(--body-bg);
	margin: 0;
	color: var(--text-color);
	font-family: var(--font-family);
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
	color: var(--text-color);
	margin: 0;
}

p,
span,
label {
	font-size: 16px;
	display: block;
	text-align: center;
}

button:active {
	background-color: var(--primary-color-faint);
	transition: none 0.3s ease;
}

button {
	font-family: var(--font-family);
	font-weight: 500;
}

.disclaimer {
	opacity: 0.6;
}

h1 {
	font-size: 24px;
}

span {
	font-size: 16px;
}

.clickableButton {
	font-weight: 500;
	transform: scale(1);
	transition: transform 0.3s ease;
}

.clickableButton:active {
	transform: scale(0.95);
	transition: transform 0.3s ease;
}
