.nextPrayer {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	height: 200px;
	border-radius: 18px;
	color: white;
}

.nextPrayer * {
	color: white;
}

.featureIndicator {
	padding: 12px;
	width: fit-content;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

.featureIndicator svg {
	display: block;
}

.nextPrayerContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
}

.nextPrayerSub {
	display: flex;
	justify-content: space-between;
}

.nextPrayerText {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.nextPrayerName {
	opacity: 0.6;
}

.nextPrayerBackdrop {
	position: absolute;
	z-index: -1;
}

.nextPrayerBackdrop,
.nextPrayerBackdrop img,
.nextPrayerBackdrop div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.nextPrayerNoise {
	opacity: 0.2;
	background-image: url("/images/backdrops/noise.png");
	background-repeat: repeat;
}
