.nextPrayer {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	height: 200px;
	border-radius: 18px;
	color: white;
}

.nextPrayer * {
	color: white;
}

.featureIndicator {
	padding: 12px;
	width: fit-content;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

.featureIndicator svg {
	display: block;
}

.nextPrayerContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
}

.nextPrayerSub {
	display: flex;
	justify-content: space-between;
}

.nextPrayerText {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.nextPrayerName {
	opacity: 0.6;
}

.nextPrayerBackdrop {
	position: absolute;
	z-index: -1;
}

.nextPrayerBackdrop,
.nextPrayerBackdrop img,
.nextPrayerBackdrop div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.nextPrayerNoise {
	opacity: 0.2;
	background-image: url("/images/backdrops/noise.png");
	background-repeat: repeat;
}

.nextPrayerDescriptor {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	opacity: 0.5;
	text-transform: uppercase;
}

.nextPrayerDescriptor span {
	font-size: 12px;
}

.nextPrayerDummy {
	visibility: hidden;
}

.nextPrayerLaunch {
	position: fixed;
	width: 100vw;
	height: 100vh;
	animation: nextPrayerLaunchScale 0.5s ease-in-out forwards,
		nextPrayerLaunchPos 0.5s cubic-bezier(0.62, -0.54, 0.03, 1) forwards;
	z-index: 99;
}

@keyframes nextPrayerLaunchScale {
	100% {
		left: 0;
		max-width: 100vw;
		max-height: 100vh;
		border-radius: 0;
	}
}

@keyframes nextPrayerLaunchPos {
	100% {
		top: 0;
	}
}
